@mixin displayFlexIcon() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  border: 2px solid greenyellow;
  width: 25vw;
  @include displayFlexIcon();

  .logo {
    margin-right: 8px;
    @include displayFlexIcon();

    & > img {
      aspect-ratio: 1/1;
      width: 3vw;
    }
  }

  .myName {
    & > label {
      font-size: x-large;
      font-weight: bold;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      background: linear-gradient(45deg, rgb(177, 0, 0), rgb(255, 120, 120));
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 200%;
      background-position: var(--pos, 50%) 50%;
      transition: background-position 0.2s ease;

      @media (max-width: 1024px) {
        font-size: large;
      }

      @media (max-width: 768px) {
        font-size: 0.9rem;
      }

      @media (max-width: 622px) {
        font-size: 0.8rem;
      }
    }
  }
}
