@use "../../styles/variables" as variables;

@mixin makeFlexCenter() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoDesign {
  @include makeFlexCenter();
  width: 17.5vw;

  &_iconName {
    p {
      font-size: x-large;
      font-family: sans-serif;
      font-weight: bold;
      background: linear-gradient(to right, variables.$red_gradient_1, variables.$red_gradient_2);
      background-clip: text;
      color: transparent;
    }
  }
}